name: Build

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential git python3-pip python3-dev python3-setuptools \
            libffi-dev libssl-dev libjpeg-dev zlib1g-dev autoconf \
            automake libtool pkg-config cmake openjdk-17-jdk \
            libcairo2-dev libgirepository1.0-dev autoconf-archive libtool-bin libltdl-dev

      - name: Install Buildozer and Dependencies
        run: |
          pip install --upgrade pip
          pip install --upgrade buildozer Cython==0.29.36
          pip install https://github.com/kivymd/KivyMD/archive/master.zip

      - name: Build with Buildozer
        run: |
          yes | buildozer android debug

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
